h1 {
        color: red;
      }
      p {
        color: blue;
      }
      table {
        border: 2px solid orangered;
        border-collapse: collapse;
        padding: 5px;
      }
      td,th{
        border: 1px solid blue;
        padding: 10px;
        
      }
      a{
        color: greenyellow;
        text-decoration: none;
      }